run = "bash run.sh"
entrypoint = "backend/main.py"

[nix]
channel = "stable-24_05"

[nix.packages]
python = "python311"
nodejs = "nodejs_20"

[deployment]
run = ["bash", "run.sh"]
build = ["bash", "setup.sh"]

[env]
ES_URL = "http://127.0.0.1:9200"

[[ports]]
localPort = 8000
externalPort = 80
